<link rel="stylesheet" href="partials/footer.css">
<footer class="footer">

    <div class="container">

        <div class="footer-grid">

            <div class="footer-column">

                <div class="footer-logo">
                    <img src="assets/images/logo.jpeg" alt="Logo">
                    <h3> Rental Solutions</h3>
                </div>

                <p>
                    Offering reliable IT equipment rental services along with
                        our refurbished devices to meet the requirements of any business in India.

                </p>

                <div class="social-links">

                    <a href="tel:+">
                        <i class="fa-solid fa-phone"></i>
                    </a>

                    <a href="https://wa.me/">
                        <i class="fa-brands fa-whatsapp"></i>
                    </a>

                </div>

            </div>

            <div class="footer-column">

                <h4>Quick Links</h4>

                <ul>

                    <li><a href="index.html">Home</a></li>

                    <li><a href="about.html">About Us</a></li>

                    <li><a href="index.html#rental-services">Rental Services</a></li>

                    <li><a href="index.html#refurbished-products">Refurbished Products</a></li>

                    <li><a href="/amc.html">AMC</a></li>

                    <li><a href="contact.html">Contact Us</a></li>

                </ul>

            </div>

            <div class="footer-column">

                <h4>Rental Services</h4>

                <ul>

                    <li><a href="pages/server_rental.html">Server Rental</a></li>

                    <li><a href="pages/laptop_rental.html">Laptop Rental</a></li>

                    <li><a href="pages/desktop_rental.html">Computer Rental</a></li>

                    <li><a href="pages/firewall_rental.html">Firewall Rental</a></li>

                    <li><a href="pages/printer_rental.html">Printer Rental</a></li>

                </ul>

            </div>

            <div class="footer-column">

                <h4>Refurbished Products</h4>

                <ul>

                    <li><a href="pages/refurbished_laptop.html">Refurbished Laptops</a></li>

                    <li><a href="pages/refurbished_server.html">Refurbished Servers</a></li>

                    <li><a href="pages/refurbished_computer.html">Refurbished Computers</a></li>

                </ul>

            </div>

            <div class="footer-column">

                <h4>Contact Us</h4>

                <ul class="contact-list">

                    <li>
                        <i class="fas fa-phone"></i>
                        +
                    </li>

                    <li>
                        <i class="fas fa-envelope"></i>
                        info@.com
                    </li>

                    <li>
                        <i class="fas fa-location-dot"></i>
                        Bangalore, Karnataka, India
                    </li>

                </ul>

            </div>

        </div>


        <div class="footer-bottom">

            <p>
                © 2026  Rental Solutions. All Rights Reserved.
            </p>

        </div>

    </div>

</footer>